<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to geonotify.com, <%=h @user.email %></h1>
    <p>
      You have successfully signed up to geonotify.com and your username is: <%= @user.email %>.<br/>
      To login to the site, just follow <%= link_to 'this link', edit_password_reset_url(:id => @password_reset_token, :only_path => false) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>