!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:v" => "urn:schemas-microsoft-com:vml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Awesome
    %script{:src => "http://www.google.com/jsapi?key=ABQIAAAAUXDSXET8IRGdgHP9FpGw5BT-fVzUWGS_eJ2ZLPBO_6yPqTi0vhQKAzahOrduDq0xQk09GR-UP3Jgcg"}
    :javascript
      google.load("jquery", '1.4');
      google.load("maps", "2.x");
    %script{:src => "/src/geometrycontrols.js", :type => "text/javascript"}
    %script{:src => "/src/markercontrol.js", :type => "text/javascript"}
    %script{:src => "/src/polygoncontrol.js", :type => "text/javascript"}
    %script{:src => "/examples/scripts/map_main.js", :type => "text/javascript"}
  %body
    = yield